.wrapper {display: table;}
.div1, .div2 {display: table-cell;height: 500px; background-color: #f1f2e9; padding: 2px; border: px solid green; gap: 2px;}

.span-class-1{
align-content:  center;
color: black;
}


button {
    border: none;
    position: relative;
    width: 360px;
    height: 567px;
  }
  btn-dark1 {
    width: 800px;
  }